.result {
  height: 60px;
  background-color:pink;
  width: 100%;
}

.result h1 {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color:#bbb;
  color:black;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
button:hover {
  background-color: coral;
}
